$text-color: #b4a28f;
$text-focus: #ebe1c0;
$background: #312e2b;

.ProductPage {
  margin: 5vw 15vw;
  // padding: 3vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url("../../miscellaneous/images/PaperTexture.webp");
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  &__title {
    text-align: center;
    margin: 2vw auto;
    font-size: 3vw;
  }
  &__image {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
  }
  &__container {
    padding: 0 8vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__image {
      height: auto;
      object-fit: cover;
    }
    &__label {
      font-size: 3vw;
    }

    &__price {
      font-size: 3vw;
      margin-top: 2vw;
    }
    &__limit {
      font-size: 1.5vw;
    }
    &__quantity {
      font-family: "Bitter", serif;
      width: 100%;
      padding: 1vw;
      font-size: 2vw;
    }

    &__description {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      h2 {
        font-size: 1.5vw;
      }
      margin-left: 5vw;
      font-size: 1.8vw;
    }

    &__confirm {
      font-size: 3vw !important;
    }
  }
  &__add_to_cart {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
#price {
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2vw;
}
