$text-color: #b4a28f;
$text-focus: #ebe1c0;
$background: #312e2b;
.Product {
  width: 25%;
  padding: 1vw;
  &__container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-image: url("../../miscellaneous/images/PaperTexture.webp");
    padding: 1vw;
    &__image {
      width: 90%;
      object-fit: cover;
      height: 15vw;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
    &__image_container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      margin: 2vw 0;
    }
    &__learn_more {
      width: 100%;
      margin: 10px 0;
      padding: 10px;
      background-color: $background;
      color: $text-color;
      transition: all 0.3s;
      text-align: center;
      &:hover {
        color: $text-focus;
      }
    }
    &__title {
      height: 50px;
      padding: 20px auto;
      display: flex !important;
      font-size: 1vw;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    &__title,
    &__link,
    &__price,
    &__learn__more {
      text-align: center !important;
      font-size: 1.5vw;
      width: 90%;
    }

    &__price {
      font-size: 1.5vw;
      padding: 1vw 0;
    }
  }
}

.dim {
  opacity: 50%;
}
