$text-color: #b4a28f;
$text-focus: #ebe1c0;
$background: #312e2b;
.CartList {
  display: flex;
  flex-flow: row nowrap;
  margin: 5vw;
  &__container {
    margin: 1px;
  }
  &__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__order {
      width: 100%;
      padding: 2vw;
      &__list {
        list-style: none;
        &__item {
          &__name {
            margin-top: 1vw;
            font-size: 2vw;
          }
          &__total {
            font-size: 1vw;
          }
        }
      }
    }
    &__total {
      font-size: 2vw;
    }
    margin-left: 4vw;
    &__checkout {
      display: block;
      background-color: $background;
      color: $text-color;
      transition: all 0.3s;
      text-align: center;
      margin-top: 2vw;
      padding: 1.5vw 2vw;

      font-size: 2vw;
      &:hover {
        color: $text-focus;
      }
    }
  }
}
.cart_empty {
  margin: 4vw auto;
  text-align: center;
  font-size: 2vw;
}
