@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600&family=Merriweather:wght@300&display=swap");
$text-color: #b4a28f;
$text-focus: #ebe1c0;
$background: #312e2b;

*,
h1,
h2,
h3,
p {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Bitter", serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  margin: 3% 5%;
}

.title {
  grid-column: 1 / -1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
}

.gallery {
  .Product {
    &__container__title {
      font-size: 1.5vw;
    }
    &__container__image {
      height: 20vw;
    }
  }
}
@media (min-width: 800px) {
  .gallery {
    .Product {
      width: calc(100% / 3);
      &__container {
        &__title {
          font-size: 2vw;
        }
        &__learn__more {
          font-size: 1.8vw;
        }
      }
      &__container__image {
        height: 20vw;
      }
    }
  }
}
@media (max-width: 800px) {
  .gallery {
    .Product {
      width: 50%;
      &__container {
        &__title {
          font-size: 3vw !important;
        }
        &__price {
          font-size: 2.5vw !important;
        }
        &__learn__more {
          font-size: 2.5vw;
        }
      }
      &__container__image {
        height: 30vw;
      }
    }
  }
}

@media (min-width: 950px) {
  .gallery {
    .Product {
      width: 25%;
      &__container__image {
        height: 15vw;
      }
      &__container {
        &__title {
          font-size: 1.5vw;
        }
      }
    }
  }
}
.dash {
  width: 100%;
  height: 0.2vw !important;
  background-color: black;
  margin: 1vw auto;
  &__smaller {
    width: 80%;
    height: 0.2vw !important;
    background-color: black;
    margin: 1vw auto;
  }
}

.link-button {
  color: $text-color;
  transition: color 0.5s;
  position: relative;

  &:hover {
    color: #8e7a64;
  }
}

.button {
  background-color: $background;
  border-radius: 50px;
  color: $text-color;
  transition: color 0.5s;
  padding: 2vw 5vw;
  font-size: 3vw;
  margin: 2vw auto;
  &:hover {
    color: $text-focus;
  }
}
//
// .modal {
//   font-size: 12px;
// }
// .modal > .header {
//   width: 100%;
//   border-bottom: 1px solid gray;
//   font-size: 18px;
//   text-align: center;
//   padding: 5px;
// }
// .modal > .content {
//   width: 100%;
//   padding: 10px 5px;
// }
// .modal > .actions {
//   width: 100%;
//   padding: 10px 5px;
//   margin: auto;
//   text-align: center;
// }
// .modal > .close {
//   cursor: pointer;
//   position: absolute;
//   display: block;
//   padding: 2px 5px;
//   line-height: 20px;
//   right: -10px;
//   top: -10px;
//   font-size: 24px;
//   background: #ffffff;
//   border-radius: 18px;
//   border: 1px solid #cfcece;
// }
