@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;600&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: 'Bitter', serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
