$text-color: #b4a28f;
$text-focus: #ebe1c0;
$background: #312e2b;

.Nav {
  display: flex;
  //grid-template-rows: repeat(6, minmax(16.8vh, auto)) auto;
  background: $background;
  //height: 100%;

  &__title,
  &__item {
    padding-left: 3vw;
    align-items: center;
    transition: 0.3s;
    display: flex;

    &__button {
      a {
        display: block;
        width: 20px;
      }
    }

    h3 {
      color: $text-color;
    }

    &__link {
      text-decoration: none;
      color: $text-color;

      &:hover {
        color: $text-focus;
      }
    }
  }

  @media screen and (max-width: 900px) {
    &__title,
    &__item {
      padding-left: 4.5vw;
    }
  }
  &__item {
    &:hover {
      background: lighten($background, 4);
    }
  }
}
