$text-color: #b4a28f;
$text-focus: #ebe1c0;
$background: #312e2b;
.CheckoutForm {
  margin: 5vw 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  &__title {
    font-size: calc(3vw);
    padding-right: 4vw;
    text-align: center;
  }
  &__label {
    font-size: calc(5px + 1vw);
    margin: 0.6vw;
  }
  &__form {
    margin: 1vw;
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__input {
    padding: 0.6vw;
    font-size: 1.5vw;
  }
  &__select {
    padding: 1vw;
    font-size: 1.5vw;
    font-family: "Bitter", serif;
    font-weight: 800;
  }
  &__submit {
    margin: 2vw auto;
    padding: 1vw;
    width: 50%;
    border: none;
    padding: 1vw;
    border-radius: 10px;
    text-align: center;
    font-family: "Bitter", serif;
    font-weight: 800;
    font-size: 2vw;

    transition: all 0.3s;
    color: $text-color;
    &:hover {
      background-color: $background;
      color: #ebe1c0;
    }
  }
}

@media screen and (max-width: 500px) {
  .CheckoutForm {
    &__label {
      font-size: calc(5px + 2vw);
      margin: 0.6vw;
    }
    &__form {
      margin: 1vw;
      width: 90%;
    }
    &__item {
      display: flex;
      flex-direction: column;
    }
    &__input {
      padding: 0.6vw;
      font-size: 2vw;
    }
    &__select {
      padding: 1vw;
      font-size: 2vw;
      font-family: "Bitter", serif;
    }
  }

  .button {
    font-size: 4vw;
  }
}
